*{
    box-sizing:border-box;
}
body{
    margin: 0px;
    font-family: "Poppins";
}
.content-start{
    padding: 47px 0 60px 0;
}
.title-start, .desc-start{
    text-align: center;
    margin:0px;
}
.desc-start{
    margin-top: 7px;
}
.content-articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    margin-bottom: 10px;
}
@media (min-width: 960px){
    .content-articles{
        flex-direction: row;
        justify-content: space-around;
        padding: 0 200px 0 200px;
        margin-bottom: 0px;
    }
}
@media (max-width: 1200px){
    .content-articles{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
}
.content-proyect{
    
    width: 350px;
    height: 400px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
}
.image-proyect{
    height: 240px;
    object-fit: cover;
}
.content-info-proyect{
    position: relative;
    padding: 20px;
    height: 100%;
}
.title-proyect{
    margin: 0;
}
.desc-proyect{
    width: 300px;
    margin: 10px 0 0 0;
}
.link-proyect{
    bottom: 15px;
    right: 20px;
    left: 260px;
    position: absolute;
    color: rgba(81, 175, 243, 1);
}
